<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% if page and page.title %}{{page.title}} @ {% endif %}{{site.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{site.static_path}}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{site.static_path}}/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{site.static_path}}/css/default.css">
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">

        <link rel="alternate" type="application/atom+xml" title="{{site.title}}" href="{{site.index_url}}/blog.atom"/>
        {% if page.title %}
        <link rel="canonical" href="{{site.index_url}}{{page.url}}" />
        {% endif %}
        <link rel="index" href="{{site.index_url}}" />
        {% if page.next %}
        <link rel="next" href="{{page.next.url}}" />
        {% endif %}
        {% if page.previous %}
        <link rel="prev" href="{{page.previous.url}}" />
        {% endif %}
    </head>
    <body class="container" itemscope itemtype="http://schema.org/Blog">
        <h1><a href="{{site.index_url}}" itemprop="name">{{site.title}}</a></h1>

        <div class="row">
            <div class="span10" role="main">
                {% if page.title %}
                <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
                    <header>
                        <h1 itemprop="headline"><a itemprop="url" href="{{page.url}}">{{page.title}}</a></h1>
                        {% if page.date %}
                        <p>
                        <time itemprop="datePublished">{{page.date | date: "%Y-%m-%d"}}</time>
                        {% if page.mod_date %}
                        / 수정: <time itemprop="dateModified">{{page.mod_date | date: "%Y-%m-%d"}}</time>
                        {% endif %}
                        </p>
                        {% endif %}
                    </header>
                    <div itemprop="articleBody">
                        {{content}}
                    </div>
                </article>
                {% else %}
                <article>
                    {{content}}
                </article>
                {% endif %}

            </div>
            <div class="span12">
                <footer>
                    <p>
                    이 사이트의 글은 <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">CC-by-3.0</a> 이상으로 배포됩니다.
                    <a rel="alternate" type="application/atom+xml" title="{{site.title}}" href="{{site.index_url}}/blog.atom">atom</a>
                    <a rel="help author" href="/info">안내</a>
                    </p>
                </footer>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{site.static_path}}/js/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="{{site.static_path}}/js/bootstrap.min.js"></script>
    </body>
</html>
